*.pyc
slurm-*.out
.DS_Store
*.h5
*.wav
*.log
*.scp
*.pkl
*.conf
exp/
snippet.sh
tools/venv
tools/sprocket
egs/arctic/sd/old/data/
egs/arctic/sd/old/exp/
egs/*/*/wav/
egs/*/*/wav_ns/
egs/arctic/sd/old/wav_hpf/
egs/arctic/sd/old/wav_nwf/
egs/arctic/sd/old/hdf5_old/
egs/*/*/downloads/
egs/*/*/downloads
.pytest_cache/
.eggs/
*.egg-info/
.idea